# Step 01: Regression

In [1]:
import pandas as pd
df = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

2. Separate x(Gender, Height) and y (y=Weight)
3. Train = 70%, Test = 30%
4. Apply Linear Regression
5. Evaluate the Model (Testing and training Accuracy, MSE for testing)
6. Apply KNN Regressor: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html
7. Evaluate the Model (Testing and training Accuracy, MSE for testing)
8. Compare KNN & Linear regression with the KNN model and Linear regression as well.

Work from here..

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor

In [3]:
lable_enc = LabelEncoder()
df.Gender = lable_enc.fit_transform(df.Gender)

In [4]:
df.head(7155)

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
7150       0  62.678265  120.905939
7151       0  63.587638  117.440811
7152       0  63.331913  126.108329
7153       0  58.558513  131.404224
7154       0  65.068038  160.800726

[7155 rows x 3 columns]

In [5]:
x = df[['Gender', 'Height']]
y = df[['Weight']]

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=1)

In [7]:
x_train.head()

      Gender     Height
1277       1  72.385301
5361       0  60.960147
5728       0  69.119292
4276       1  68.271050
3112       1  64.991405

In [8]:
x_test.head()

      Gender     Height
7154       0  65.068038
3258       1  70.824643
2188       1  68.663594
5609       0  65.987610
3186       1  70.901461

In [9]:
y_train.head()

          Weight
1277  189.165592
5361  124.876796
5728  168.864403
4276  172.941248
3112  144.551044

In [10]:
y_test.head()

          Weight
7154  160.800726
3258  184.516688
2188  184.262796
5609  166.844114
3186  200.466282

In [11]:
# Linear Regraession
le = LinearRegression()
le.fit(x_train, y_train)

LinearRegression()

In [12]:
# Linear Regraession Training Accuracy check
linear_train_score = le.score(x_train, y_train)

In [13]:
# Linear Regraession Testing Accuracy Check
linear_test_score = le.score(x_test, y_test)

In [14]:
# Linear Regraession MSE
linear_mse = mean_squared_error(y_test, le.predict(x_test))

In [15]:
# KNN
knn = KNeighborsRegressor()
knn.fit(x_train, y_train)

KNeighborsRegressor()

In [16]:
# KNN Training Accuracy check
knn_train_score = knn.score(x_train, y_train)

In [17]:
# KNN Testing Accuracy Check
knn_test_score = knn.score(x_test, y_test)

In [18]:
# KNN MSE
knn_mse = mean_squared_error(y_test, knn.predict(x_test))

In [19]:
print("Comparison between MSE and KNN: ")

print("\nLinear Regression Training Accuracy:", linear_train_score)
print("KNN Regressor Training Accuracy:", knn_train_score)

print("\nLinear Regression Testing Accuracy:", linear_test_score)
print("KNN Regressor Testing Accuracy:", knn_test_score)

print("\nLinear Regression MSE:", linear_mse)
print("KNN Regressor MSE:", knn_mse)

Comparison between MSE and KNN:

Linear Regression Training Accuracy: 0.8972135459668117
KNN Regressor Training Accuracy: 0.9170756955071054

Linear Regression Testing Accuracy: 0.905995960709116
KNN Regressor Testing Accuracy: 0.8838502073708883

Linear Regression MSE: 99.67250998070038
KNN Regressor MSE: 123.15365863436983

# Step 02: Classification

In [25]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

2. Separate x and (y=Gender)
3. Train = 70%, Test = 30%
4. Apply KNN Classifier 
5. Evaluate the Model by only Accuracy.
6. Apply KNN Classifier: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

Work from here..

In [34]:
from sklearn.neighbors import KNeighborsClassifier

In [26]:
x = df[['Height','Weight']]
y = df['Gender']

In [28]:
x_trn, x_tst, y_trn, y_tst = train_test_split(x, y, test_size=0.3, random_state=1)

In [29]:
x_trn.head()

         Height      Weight
1277  72.385301  189.165592
5361  60.960147  124.876796
5728  69.119292  168.864403
4276  68.271050  172.941248
3112  64.991405  144.551044

In [30]:
x_trn.head()

         Height      Weight
1277  72.385301  189.165592
5361  60.960147  124.876796
5728  69.119292  168.864403
4276  68.271050  172.941248
3112  64.991405  144.551044

In [31]:
y_trn.head()

1277    1
5361    0
5728    0
4276    1
3112    1
Name: Gender, dtype: int32

In [32]:
x_tst.head()

         Height      Weight
7154  65.068038  160.800726
3258  70.824643  184.516688
2188  68.663594  184.262796
5609  65.987610  166.844114
3186  70.901461  200.466282

In [33]:
y_tst.head()

7154    0
3258    1
2188    1
5609    0
3186    1
Name: Gender, dtype: int32

In [44]:
knnClassifier = KNeighborsClassifier(n_neighbors=10)

In [45]:
knnClassifier.fit(x_trn, y_trn)

KNeighborsClassifier(n_neighbors=10)

In [49]:
# Testing Train Accuracy
knnClassifier.score(x_trn, y_trn)

0.9213426853707415

In [50]:
# Testing Test Accuracy
knnClassifier.score(x_tst, y_tst)

0.9216984807167901