# Python Conditions:

### 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = float(input("Length of the rectangle: "))
breadth = float(input("Breadth of the rectangle: "))

if length == breadth:
    print("It is a square.")
else:
    print("It is not a square.")

Length of the rectangle: 10
Breadth of the rectangle: 20
It is not a square.

### 2. Take three integer values from the user and print the greatest among them.

In [2]:
# Take input from the user
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

# Compare three numbers 
if num1 > num2 and num1 > num3:
    print("Greatest Number is: ", num1)
elif num2 > num1 and num3 < num2:
    print("Greatest Number is: ", num2)
else:
    print("Greatest Number is: ", num3)

Enter the first number: 20
Enter the second number: 50
Enter the third number: 12
Greatest Number is:  50

### 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [3]:

total_class = int(input("Enter the total number of classes held: "))
atten_class = int(input("Enter the number of classes attended: "))

atten_perc = (atten_class / total_class) * 100

if atten_perc >= 75:
    print("Eligible to sit in the exam.")
else:
    print("Not eligible to sit in the exam.")

Enter the total number of classes held: 30
Enter the number of classes attended: 22
Not eligible to sit in the exam.

### 4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [4]:

marks = int(input("Enter marks: "))

if marks < 25:
    grade = "F"
elif marks < 45:
    grade = "E"
elif marks < 50:
    grade = "D"
elif marks < 60:
    grade = "C"
elif marks < 80:
    grade = "B"
elif marks < 90:
    grade = "A"
else:
    grade = "A+"

print("Grade is:", grade)

Enter marks: 68
Grade is: B

# Loop Problem:

### 5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7 <br>
1 2 3 4 5 6<br>
1 2 3 4 5<br>
1 2 3 4<br>

In [1]:
for i in range(8, 4, -1):
    for j in range(1, i):
        print(j, end=" ")
    print("\n")

1 2 3 4 5 6 7

1 2 3 4 5 6

1 2 3 4 5

1 2 3 4

### 6. Display numbers from -100 to -10 using for loop.

In [ ]:
for i in range(-100, -9):
    print(i, end= " ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

### 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

sum = 0

for num in range(10, 1000 + 1):
    if is_prime(num):
        sum += num

print("Sum of all prime numbers between 10 and 1000 is:", sum)

Sum of all prime numbers between 10 and 1000 is: 76110

### 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [6]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n - 1)

n = int(input("Enter value of n: "))
fact(n)

Enter value of n: 7

5040

### 9. Reverse a given integer number 27956240710.

In [62]:
#first methood
num = 27956240710
num = str(num)
for i in reversed(num):
    print(i, end="")

01704265972

In [69]:
#Secound Methood
num = 27956240710
rev_num = 0
while num > 0:
    digit = num % 10
    rev_num = (rev_num * 10) + digit
    num //= 10

print(rev_num)

1704265972

### 10. Print the following pattern using for and while loop.
'# # #' <br>
'# # # #' <br>
'# # #' <br>
'# # ' <br>

In [1]:
for i in range(3, 5):
    for j in (range(i)):
        print('#', end=' ')
    print()

for i in range(3, 1, -1):
    for j in (range(i)):
        print('#', end=' ')
    print()

# # #
# # # #
# # #
# #

### 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [81]:
#For Loop
def fib(n):
    num = [0,1]
    for i in range(2, n):        
        num.append(num[i-2] + num[i-1])
    return num    
print(fib(15))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [83]:
#While Loop
def fib(n):
    num = [0,1]
    i = 2
    while i < n:
        num.append(num[i-2] + num[i-1])
        i += 1
    return num

print(fib(15))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

# Python inbuilt Data Structure:

### 12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True] <br>
Output = [1,3,5, [3,3], False]

In [85]:
Li = [1,3,5, [2,3], True]
Li[3][0] = 3
Li[4] = False 
Li

[1, 3, 5, [3, 3], False]

### 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}<br>
S2 = {True, 1,2,10}

In [7]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
S1.intersection(S2)

{True}

### 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [8]:
User_input = [1,9,3,4,5,1,200,54]

# Convert to set remove Duplicates
remove_dup = set(User_input)
print(remove_dup)

# find max value
print(f"max value is {max(remove_dup)}")

{1, 3, 4, 5, 200, 9, 54}
max value is 200

### 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [9]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict["region"] = Dict.pop("country")
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

### 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [1]:
import pandas as pd

num = {
    
    "Name" : ["Ashik", "Rakib"],
    "Age" : ["23", "25"],
    "University" : ["Daffodil International University", "Dhaka University"]
}
df = pd.DataFrame(num)
df

    Name Age                         University
0  Ashik  23  Daffodil International University
1  Rakib  25                   Dhaka University

### 17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [11]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict["age"] = 28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}